// @use '../common/layout' as ui
@use '../common/animation' as anim;
@use '../common/typo';

$border-radius : 10px;
$text-color : #222;
$max-width: 800px;


#main {
    margin-inline: auto;
    padding-inline: 15px;
    max-width: $max-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-bottom: 25px;

    .powered-by-heading {
        font-size: 0.8em;
        margin-left: 5px;
        color: gray;
    }

    >div.headerContainer {
        >.heading {
            margin-top: 20px;
            font-size: 1.5em;
            color: #333;
            padding-left: 5px;
        }
    }

    >div>#searchBar {
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        input[type='search'] {
            width: 100%;
            font-size: 0.9em;
            background-color: #eee;
            border-radius: $border-radius;
            // color: whi;
            border: none;
            outline: none;
            padding: 1.2em 0.4em 1.2em 2.9em;
            font-weight: 500;
            background-image: url('/icons/search.svg');
            background-repeat: no-repeat;
            background-position: 1.1em center;
            background-size: 1.1em;
            &::-webkit-search-cancel-button{  
                -webkit-appearance: none;
                height: 2em;
                width: 2em;
                background-size: 1.5em;
                opacity: 0.9;
                // outline: 1px solid red;
                background-image: url('/icons/cross.svg');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

#downloadScreen {
    color: $text-color;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    z-index: 100;
    height: 100%;
    transition: 200ms left;
    overflow: auto;
    padding: 15px;

    .container {
        max-width: $max-width;
        margin-inline: auto;

        .header {
            $header-height: 40px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: stretch;
            height: $header-height;


            .left,
            .right {
                display: flex;
                align-items: center;
                justify-content: center;
                height: inherit;
                aspect-ratio: 1 / 1;
            }

            .center {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-weight: 500;
                }
            }

            .left {
                height: inherit;
                cursor: pointer;
                border-radius: 50%;
                -webkit-tap-highlight-color: transparent;

                &:active {
                    background-color: #00000011;
                }

                >img {
                    height: inherit;
                    padding: 10px;
                    @include anim.press();
                }
            }
        }

        >.content {
            margin-top: 10px;

            .imagePreview {
                width: 100%;
                // min-height: 200px;
                // background-color: lime;
                border-radius: $border-radius;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                >img {
                    display: block;
                    max-width: 100%;
                    margin: auto;
                    width: 100%;
                    border-radius: inherit;
                    object-fit: cover;
                    // min-height: 10vh;
                    max-height: 70vh;
                }
            }

            >.imageTitle {
                margin-top: .8em;
                // font-weight: 600;
                color: $text-color;
                // outline: 1px solid red;
            }

            >.by {
                font-size: 0.8em;
                text-decoration: underline;
                color: $text-color;
                font-weight: 500;
                // outline: 1px solid red;
                // color: dodgerblue;
            }

            >.downloadOptions {
                margin-top: 40px;
                font-weight: 600;
            }

            >.downloadButtons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 50px;
                // background-color: lavender;
                >a {
                    background-color: #111;
                    border-radius: 0.6em;
                    // border-radius: 100vmax;
                    padding: 0.9em 2.9em;
                    text-decoration: none;
                    color: #fff;
                    font-size: 0.7em;
                    text-transform: capitalize;
                    font-weight: 500;
                    letter-spacing: 0.05em;
                    @include anim.press();
                    -webkit-tap-highlight-color: transparent;
                }
            }
        }
    }
}

#searchResults {
    padding-block-end: 20px;

    .noResult {
        min-height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;

        .noSearch-img {
            width: 75%;
        }

        p {
            // font-size: 1.2em;
            // opacity: 0.7;
            color: #888;
            font-size: 0.9em;
            font-weight: 500;
        }
    }

    >.images {
        margin-top: 20px;
        // background-color: lightblue;
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        padding-block-end: 20px;

        // color: ;
        >.image {
            min-height: 100px;
            width: calc(50% - 10px);
            background-color: #eee;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            // padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: $border-radius;
            overflow: hidden;
            @include anim.press(150, 95);

            img {
                max-height: 50vh;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    >#loadMore {
        display: flex;
        justify-content: center;
        align-items: center;

        >button {
            min-width: 50%;
            padding: 0.9em 3em;
            border: none;
            outline: none;
            background-color: #111;
            color: #fff;
            font-size: 0.85em;
            font-weight: 500;
            border-radius: $border-radius;
            @include anim.press(150, 95);
        }

        >.loading {
            min-width: 50%;
            padding: 0.9em 3em;
            border: none;
            outline: none;
            // background-color: #111;
            // color: #fff;
            font-size: 0.85em;
            font-weight: 500;
            border-radius: $border-radius;
            @include anim.press(150, 95);
        }
    }
}

#floatingButton {
    position: fixed;
    bottom: 12px;
    right: 12px;
    background-color: #111;
    height: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    @include anim.press();

    >img {
        width: 50px;
        padding: 15px;
        filter: invert(1);
    }
}

.endDiv {
    padding-block: 10px;

    p {
        font-size: 0.8em;
        color: #666;
        font-weight: 500;

        a {
            color: cornflowerblue;
        }
    }
}